body {
	background:  #ccc;
	padding: 0px;
	margin: 1vw;
	text-align: center;
	max-width: 100%;
}

.bottomInfo {
	text-align: center;
	color: #888;
}

.checkboxes {
	display:  inline-block;
	margin: 0.5em;
}

.formBlock * {
	vertical-align: top;
}

form {
	border: 1px solid black;
	display: inline-block;
	text-align: left;
	padding: 1em;
	background-color: white;
	margin: auto;	
}

input[type="submit"] {
	text-align: center;
	padding: 1em;
	margin: 5em;
}

input[type="text"] {
	margin: 0.5em;
	padding: 1em;
	border: 1px solid red;
	background-color: #DDD4EE;
}

input::placeholder {
	text-align: right;
}

p {
	max-width: 50em;
	text-align: center;
}

.paragaphfooter {
	border-top: 1px solid black;
	margin-top: 5em;
}
