body {
	background:  #ccc;
	padding: 0px;
	margin: 1vw;
}
.formGroup {
	border:  1px solid black;
	margin: 0px;
	margin-top: 0.2em;
	padding:  1em;
	background:  white;
}
.formGroup p {
}
.groudHeading {
	font-weight: bold;
}
.formGroup input[type="text"], .formGroup textarea, .formGroup input[type="submit"] {
	box-sizing: border-box;
	border: 1px solid black;
	width: 100%;
	margin-top: 0.4em;
	padding: 1em;
	max-width: 400px;
}
.formGroup input[type="checkbox"] {
	margin-top:  1em;
	margin-bottom:  1em;
}
.formGroup input[type="number"] {
	box-sizing: border-box;
	border: 1px solid black;
	width: 100%;
	margin-top: 0.4em;
	padding: 1em;
	max-width: 8em;
}
.bottomInfo {
	margin:  0em  0.5em 0em 0.5em;
	padding: 1em;
	color: #888;
}
label {
	display:  block;
	margin-top:  1em;
}